<div>
  <form
    (submit)="processSearch($event)"
    class="flex flex-wrap items-center gap-2 max-w-md"
  >
    <input
      type="text"
      [formControl]="cityControl"
      placeholder="Enter city name"
      [ngClass]="{
        'border border-gray-300 rounded px-2 py-2 text-base flex-1': true,
        'border-red-500': cityControl.invalid && cityControl.touched
      }"
    />
    <button
      type="submit"
      [disabled]="cityControl.invalid"
      class="px-4 py-2 rounded text-white cursor-pointer bg-blue-500 disabled:bg-gray-500 disabled:cursor-not-allowed"
    >
      Search
    </button>

    <div
      *ngIf="cityControl.invalid && cityControl.touched"
      class="text-red-500 text-sm w-full mt-1"
    >
      <div *ngIf="cityControl.errors?.['required']">City name is required.</div>
      <div *ngIf="cityControl.errors?.['minlength']">
        Minimum 2 characters required.
      </div>
      <div *ngIf="cityControl.errors?.['maxlength']">
        Maximum 50 characters allowed.
      </div>
      <div *ngIf="cityControl.errors?.['pattern']">
        Only letters, numbers and spaces allowed.
      </div>
    </div>
  </form>
</div>
